body {
	background-color: #5e008a;
}
h1 {
	background-color: #1100ff
;
	color: #8a0037;
	padding: 40px;
	text-align: center;
}
h3 {
	background-color: #00fffb
;
	color: #752f00;
	padding: 40px;
	text-align: center;
}

p {
	font-size: 20px
}

img {
  padding: 40px;
  max-width: 30%;
  max-height: 30%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div {
  font-size: 20px;
  color: #c800ff;
  background-color: #00558a;
}
